## Load the dataset into R.

In [9]:
dataset <- read.csv("dataset_3.csv", header=TRUE, stringsAsFactors=FALSE)

In [10]:
head(dataset)

  Invoice StockCode Description                         Quantity InvoiceDate
1 489434  85048     15CM CHRISTMAS GLASS BALL 20 LIGHTS 12       12/1/2009 7:45
2 489434  79323P    PINK CHERRY LIGHTS                  12       12/1/2009 7:45
3 489434  79323W     WHITE CHERRY LIGHTS                12       12/1/2009 7:45
4 489434  22041     RECORD FRAME 7" SINGLE SIZE         48       12/1/2009 7:45
5 489434  21232     STRAWBERRY CERAMIC TRINKET BOX      24       12/1/2009 7:45
6 489434  22064     PINK DOUGHNUT TRINKET POT           24       12/1/2009 7:45
  Price Customer.ID Country
1 6.95  13085       United Kingdom
2 6.75  13085       United Kingdom
3 6.75  13085       United Kingdom
4 2.10  13085       United Kingdom
5 1.25  13085       United Kingdom
6 1.65  13085       United Kingdom

In [11]:
str(dataset)

'data.frame':	525461 obs. of  8 variables:
 $ Invoice    : chr  "489434" "489434" "489434" "489434" ...
 $ StockCode  : chr  "85048" "79323P" "79323W" "22041" ...
 $ Description: chr  "15CM CHRISTMAS GLASS BALL 20 LIGHTS" "PINK CHERRY LIGHTS" " WHITE CHERRY LIGHTS" "RECORD FRAME 7\" SINGLE SIZE " ...
 $ Quantity   : int  12 12 12 48 24 24 24 10 12 12 ...
 $ InvoiceDate: chr  "12/1/2009 7:45" "12/1/2009 7:45" "12/1/2009 7:45" "12/1/2009 7:45" ...
 $ Price      : num  6.95 6.75 6.75 2.1 1.25 1.65 1.25 5.95 2.55 3.75 ...
 $ Customer.ID: int  13085 13085 13085 13085 13085 13085 13085 13085 13085 13085 ...
 $ Country    : chr  "United Kingdom" "United Kingdom" "United Kingdom" "United Kingdom" ...

In [15]:
colnames(dataset)

[1] "Invoice"     "StockCode"   "Description" "Quantity"    "InvoiceDate"
[6] "Price"       "Customer.ID" "Country"

In [16]:
colnames(dataset)[7] = "CustomerID"

In [17]:
head(dataset)

  Invoice StockCode Description                         Quantity InvoiceDate
1 489434  85048     15CM CHRISTMAS GLASS BALL 20 LIGHTS 12       12/1/2009 7:45
2 489434  79323P    PINK CHERRY LIGHTS                  12       12/1/2009 7:45
3 489434  79323W     WHITE CHERRY LIGHTS                12       12/1/2009 7:45
4 489434  22041     RECORD FRAME 7" SINGLE SIZE         48       12/1/2009 7:45
5 489434  21232     STRAWBERRY CERAMIC TRINKET BOX      24       12/1/2009 7:45
6 489434  22064     PINK DOUGHNUT TRINKET POT           24       12/1/2009 7:45
  Price CustomerID Country
1 6.95  13085      United Kingdom
2 6.75  13085      United Kingdom
3 6.75  13085      United Kingdom
4 2.10  13085      United Kingdom
5 1.25  13085      United Kingdom
6 1.65  13085      United Kingdom

## Remove rows with missing CustomerID

In [24]:
sum(is.na(dataset$CustomerID))

[1] 0

In [20]:
dataset <- dataset[!is.na(dataset$CustomerID), ]

In [25]:
sum(is.na(dataset$CustomerID))

[1] 0

## Replace missing values in UnitPrice and Quantity with their median.

In [29]:
sum(is.na(dataset$Price))
sum(is.na(dataset$Quantity))

[1] 0

[1] 0

In [23]:
dataset$Price[is.na(dataset$Price)] <- median(dataset$Price, na.rm = TRUE)
dataset$Quantity[is.na(dataset$Quantity)] <- median(dataset$Quantity, na.rm = TRUE)

## Save the cleaned dataset

In [27]:
write.csv(dataset, file = "processed_online_retail.csv", row.names = FALSE)